    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Antananarivo ho an'i Kristy</span>
                <span class="section-heading-lower">Famonjena &amp; Famelan-keloka</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/DSC_3827.JPG" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">We take pride in our work, and it shows. Every time you order a beverage from us, we guarantee that it will be an experience worth having. Whether it's our world famous Venezuelan Cappuccino, a refreshing iced herbal tea, or something as simple as a cup of speciality sourced black coffee, you will be coming back for more.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Tena ho any andanitra ve ianao?</span>
                <span class="section-heading-lower">Matory anefa ny mambra!</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/DSC_3781.JPG" alt="">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Rahalahy sy ranabavy, mitambotsotra loatra ny ASAFI sy ny Sekoly sabata ary ny asa fanompoana ny fiaraha-monina. Koa ho fitsaboana sy ho fanofanana ary ho famohazana ny rehetra dia antsoina isika mambra rehetra ary asaina ny olona rehetra ato @ Distrikan'ny Mandrosoa sy ny mambra rehetra ato @ Secteur Atsinanana (Ambolokandrina, Avaratr'Ankatso, Beria, Amboipo tànana) ho tonga @ retraite Spirituel sy ny fanofanana karakarain'ny Federasiona Madagasikara Afovoany (FMC) ao Ambolokandrina ny 13 hatr@ 18 Aogositra isakin'ny @ 5 ora hatr@ 7 ora sy 15 minitra hariva. </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">From Around the World</span>
                <span class="section-heading-lower">Bulk Speciality Blends</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/DSC_3741.JPG" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Travelling the world for the very best quality coffee is something take pride in. When you visit us, you'll always find new blends from around the world, mainly from regions in Central and South America. We sell our blends in smaller to large bulk quantities. Please visit us in person for more details.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
